.input{
  font-size: 20px;
  color: #d9646c;
  font-weight: 700;
  font-family:monospace;
  align-content: center;
  height: 50px;   
}
.button{
  width: 100px;
  height: 30px;
  font-size: 23px;
  font-family: monospace;
  background-color: #001a66;
  color:whitesmoke;
}
table{
  border-collapse: collapse;
  width: 50%;
  margin: 50px auto;
  background-color:rgb(238, 229, 175);
}
table, th, td{
  border:2px solid black;
  padding: 5px;
}
th{
  font-size: 25px;
  font-family:'Courier New', Courier, monospace;
}
td{
  font-size: 25px;
  font-family: Georgia;
}